#VSCode files
*.code.workspace
.vscode/settings.json
*.json
Complex-Systems-Percolation.code-workspace

#CPP compiler files
*.o
tempCodeRunnerFile.cpp
tempCodeRunnerFile.py

#Output files (temporary)
*.csv
*.png
*.txt
*.gif

#Extensionless files
#*
!*/

#Testing files
test*
luisda*

#GSL Library
gsl_rng.h
galaxy percolation/tempCodeRunnerFile.py
