#VSCode files
*.code.workspace
.vscode/settings.json
Complex-Systems-Percolation.code-workspace

#CPP compiler files
*.o
tempCodeRunnerFile.cpp

#Output files (temporary)
*.csv
*.png

#Testing files
test*

#GSL Library
gsl_rng.h